body {
    width: 1600px;
    margin: auto;
    display: flex;
    flex-direction: column;  
    background: rgba(159, 159, 159, 0.46);
    font-family: 'Balsamiq Sans', cursive;
    letter-spacing: 1px;
}
    
#slideContainer {
    height: 100px;
    background: grey;
    margin: 5px 0px 5px 0px; 
    box-shadow: 5px 5px 10px;
}

#mainviewer {
    height: 650px;
    background: rgba(159, 159, 159, 0.46);
    border: solid 2px black; 
    box-shadow: 5px 5px 10px;
}

#galery {
    height: 160px;
    width: 1400px;
    margin: auto;
    display: flex;
    background: blue;
    justify-content: center;
    margin: 5px auto 5px auto;
    border: solid 2px black;
    box-shadow: 5px 5px 10px;
    background: rgba(159, 159, 159, 0.46);
}

#mainImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 648px;
    width: 1500px;
    object-fit: cover;
    left: 210px;
    border: solid 2px black;
}

.thumbnails {
    margin: auto 10px auto 10px; 
    height: 120px;
    width: 120px;
    object-fit: cover;
    cursor:pointer;
    border: solid 1px black;
    position: relative;
    transition: 0.3s;
    box-shadow: 5px 5px 10px;
}

#arrowBackward {
    position: relative;
    top: -325px;
    left: 17px;
    cursor:pointer;
}

#arrowForward { 
    position: relative; 
    top: -325px;
    left: 1548px;
    transform: rotate(0.5turn);
    cursor:pointer;
}

#story {
    position: relative;
    text-align: center;
    height: 100px;
    width: 1504px;
    margin: auto;
    top: -150px;
    color: #7FDBFF;
    background: black;
    opacity: 0.5;
}

#slideImage {
    margin-left: auto;
    margin-right: auto;
    height: 96px;
    width: 1596px;
    object-fit: cover;
    position: relative;
    border: solid 2px black;
}

#mainTitle {
    line-height: 100px;
    position: relative;
    text-align: center;
    width: 1600px;
    height: 100px;
    top: -124px;
    color: #7FDBFF;
    background: black;
    opacity: 0.5;
}